### An Introduction to Dictionary in Python:

#### $\bullet$ Dictionaries are used to store data values in key:value pairs. (unordered, mutable, key values should be unique)
#### $\bullet$ A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
#### $\bullet$ Dictionaries are written with curly brackets, and have keys and values:

Syntax: dictionary = {key: value, key : value , ... ,key: value}

#### Dictionary Items:
#### $\bullet$ Dictionary items are ordered, changeable, and does not allow duplicates.
#### $\bullet$ Dictionary items are presented in key:value pairs, and can be referred to by using the key name.
#### $\bullet$ The values in dictionary items can be of any data type.

In [4]:
#Create and print a dictionary:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}
print("Details of that Person:\n",person)

Details of that Person:
 {'first_name': 'John', 'last_name': 'Doe', 'age': 25, 'favorite_colors': ['blue', 'green'], 'active': True}

In [26]:
person2 = {"name": "Jessa", "country": "USA", "telephone": 1178}
print(person2)

{'name': 'Jessa', 'country': 'USA', 'telephone': 1178}

In [28]:
emptydict = {}
print(emptydict)

{}

In [5]:
print(type(person))

<class 'dict'>

In [29]:
print(person2.keys()) ## keys()- Returns the list of all keys present in the dictionary.

dict_keys(['name', 'country', 'telephone'])

In [30]:
print(person2.values()) ### values() - Returns the list of all values present in the dictionary

dict_values(['Jessa', 'USA', 1178])

In [32]:
#items()-Returns all the items present in the dictionary.
#Each item will be inside a tuple as a key-value pair.
print(person2.items())

dict_items([('name', 'Jessa'), ('country', 'USA'), ('telephone', 1178)])

#### Accessing values in a Dictionary:
##### To access a value by key from a dictionary, place the key inside square brackets: dict[key]

In [12]:
print(person['first_name'])

John

In [13]:
print(person['favorite_colors'])

['blue', 'green']

In [14]:
print(person.get('last_name')) #### by using get()

Doe

### get() - If the key doesn’t exist, the get() method returns None instead of throwing a KeyError.

In [19]:
### for instance
print(person['father name'])

KeyError: 'father name'

In [16]:
print(person.get('father name'))

None

### The get() method also returns a default value when the key doesn’t exist by passing the default value to its second argument.

In [18]:
print(person.get('father name', 'does not exsits'))

does not exsits

### Adding new key-value pairs

In [22]:
person['gender'] = 'male'
print("The updated dictionary is: \n", person)

The updated dictionary is:
 {'first_name': 'John', 'last_name': 'Doe', 'age': 25, 'favorite_colors': ['blue', 'green'], 'active': True, 'gender': 'male'}

In [ ]:
## We can also add more than one key using the update() method.

In [33]:
person.update({"weight": 50, "height": 6})
print("The updated dictionary is: \n", person)

The updated dictionary is:
 {'first_name': 'John', 'last_name': 'Doe', 'age': 26, 'favorite_colors': ['blue', 'green'], 'gender': 'male', 'weight': 50, 'height': 6}

### Modifying values in a key-value pair : Syntax: dict[key] = new_value

In [24]:
person['age']=26
print("The updated dictionary is: \n", person)

The updated dictionary is:
 {'first_name': 'John', 'last_name': 'Doe', 'age': 26, 'favorite_colors': ['blue', 'green'], 'active': True, 'gender': 'male'}

#### To remove a key-value pair by a key, you use the del statement: del dict[key]

In [25]:
del person['active']
print(person)

{'first_name': 'John', 'last_name': 'Doe', 'age': 26, 'favorite_colors': ['blue', 'green'], 'gender': 'male'}

# SET
Syntax: {}
#### Sets are used to store multiple items in a single variable.

#### set is an unordered list of immutable elements.

#### Elements in a set cannot be changed. For example, they can be numbers, strings, and tuples, but cannot be lists or dictionaries.

In [34]:
sample_set = {'Mark', 'Jessa', 25, 75.25}
print(sample_set)

{25, 'Jessa', 75.25, 'Mark'}

In [36]:
book_set = set(("Harry Potter", "Angels and Demons", "Atlas Shrugged"))
print(book_set)

{'Angels and Demons', 'Atlas Shrugged', 'Harry Potter'}

In [39]:
print(type(book_set))

<class 'set'>

In [42]:
emptySet = {} ###it will create an empty dict
print(type(emptySet))

<class 'dict'>

In [44]:
## TO create an empty set-set()
empty_set = set()
print(type(empty_set)) 
# class 'set'

<class 'set'>

### Create a set from a list

In [45]:
number_list = [20, 30, 20, 30, 50, 30]
# create a set from a list
sample_set2 = set(number_list)
print(sample_set2)

{50, 20, 30}

In [47]:
## The items of the set are unordered and they don’t have any index number.
book_set = {"Harry Potter", "Angels and Demons", "Atlas Shrugged"}
for book in book_set:
    print(book)

Angels and Demons
Atlas Shrugged
Harry Potter

### The $in$ operator checks whether the item is present in the set, and returns True if it present otherwise, it will return False.

In [49]:
book_set = {"Harry Potter", "Angels and Demons", "Atlas Shrugged"}
if 'Harry Potter' in book_set:
    print("Book exists in the book set")
else:
    print("Book doesn't exist in the book set")

Book exists in the book set

In [50]:
# check another item which is not present inside a set
print("A Man called Ove" in book_set)

False

In [51]:
print(len(book_set))

3

### We can add new items to the set using the following two ways.

In [52]:
book_set = {'Harry Potter', 'Angels and Demons'}
# add() method
book_set.add('The God of Small Things')
# display the updated set
print(book_set)

{'The God of Small Things', 'Angels and Demons', 'Harry Potter'}

In [53]:
# update() method to add more than one item
book_set.update(['Atlas Shrugged', 'Ulysses'])
# display the updated set
print(book_set)

{'Angels and Demons', 'Ulysses', 'Atlas Shrugged', 'Harry Potter', 'The God of Small Things'}

In [54]:
color_set = {'red', 'orange', 'yellow', 'white', 'black'}
# remove single item
color_set.remove('yellow')
print(color_set)

{'orange', 'white', 'black', 'red'}

In [55]:
# remove all items
color_set.clear()
print(color_set)

set()

### Set Operations

Union -> | or union()

Intersection -> & or intersection()

Difference -> -	or difference()

Symmetric Difference -> ^ or symmetric_difference()

In [56]:
color_set = {'violet', 'indigo', 'blue', 'green', 'yellow'}
remaining_colors = {'indigo', 'orange', 'red'}

# union of two set using OR operator
new_color_set = color_set | remaining_colors
print("The union of two sets:",new_color_set)


# union using union() method
new_colors = color_set.union(remaining_colors)
print("The union of two sets:",new_colors)

The union of two sets: {'indigo', 'orange', 'green', 'red', 'yellow', 'blue', 'violet'}
The union of two sets: {'indigo', 'orange', 'green', 'red', 'yellow', 'blue', 'violet'}

In [57]:
new_color_set = color_set & remaining_colors
print("The intersection of two sets:",new_color_set)

The intersection of two sets: {'indigo'}

In [60]:
new_color_set = color_set - remaining_colors
print("The difference:",new_color_set)

The difference: {'yellow', 'green', 'blue', 'violet'}

In [61]:
# symmetric difference
unique_items = color_set ^ remaining_colors
print("The symmetric difference:",unique_items)

The symmetric difference: {'green', 'red', 'orange', 'yellow', 'blue', 'violet'}

### Subset and Superset
Syntax: issubset()   and  issuperset()

In [63]:
Set1={1,2,3,4,5}
Set2={2,3,4}
print(Set2.issubset(Set1))

True

In [65]:
Set1={1,2,3,4,5}
Set2={2,3,4}
print(Set1.issuperset(Set2))

True

In [66]:
Set1.isdisjoint(Set2)

False

## Frozen Set
doesn’t allow adding or removing items from a set.

In [67]:
rainbow = ('violet', 'indigo', 'blue', 'green', 'yellow', 'orange', 'red')
# create a frozenset
f_set = frozenset(rainbow)

print(f_set)

frozenset({'indigo', 'green', 'red', 'orange', 'yellow', 'blue', 'violet'})