In [ ]:
from datetime import date
today=date.today()
print("Today's date:",today)

Today's date: 2025-01-06

# PERMUTATIONS AND COMBINATIONS

Permutation is an arrangement of objects in a specific order. The number of permutations on a set of n elements is given by  n!.
A permutation, also called an “arrangement number” or “order,” is a rearrangement of the elements of an ordered list S into a one-to-one correspondence with S itself.

Combination is a collection of the element where the order doesn't matter. Python itertools module provides the combination() method to calculate the combination of given data.

Q. Write a program to calculate the following:

(a) How many words can be formed by using 3 letters from the word “DELHI”?


(b) In how many ways, can we select a team of 4 students from a given choice
of 15 ?

In [3]:
import math
def fact(n):
    if n==1 or n==0:
        return 1
    else:
        return n*fact(n-1)

print("5!=",fact(5))

5!= 120

In [3]:
# Combination:
def Comb(n,r):
  if n>=r:
    return math.factorial(n)/(math.factorial(n-r)*math.factorial(r))
  else:
    print("Invalid Entry")

In [4]:
def Perm(n,r):
    if n>=r:
        return fact(n)/(fact(n-r))
    else:
        print("Invalid Entry")

In [5]:
#a)
# Number of letters in the word "DELHI" = 5
# Number of letters in words to be made = 3
# Number of 3 letter words that can be made from the word "DELHI" = 5 P 3
print("Number of 3 letter words that can be made from the word 'DELHI' is:",Perm(5,3))

Number of 3 letter words that can be made from the word 'DELHI' is: 60.0

In [8]:
#b)
# Total number of students = 15
# Number of students to be selected = 4
# Number of combinations of 4-team students from a choice of 15 = 15 C 4
print("Number of ways we can select a team of 4 students from a chioce of 15 is:",Comb(15,4))

Number of ways we can select a team of 4 students from a chioce of 15 is: 1365.0

Q. How many ways can the letters of the word ULTRASONIC be arranged? How many start with T? How many have the vowels together?

In [9]:
print("Num of ways the letters of the word ULTRASONIC can be arranged: ",math.factorial(10))

print("Num of ways the letters of the word ULTRASONIC can be arranged if it starts with T: ",math.factorial(9))
print("Num of ways the letters of the word ULTRASONIC can be arranged if all vowels are together: ",math.factorial(4)*math.factorial(7))

Num of ways the letters of the word ULTRASONIC can be arranged:  3628800
Num of ways the letters of the word ULTRASONIC can be arranged if it starts with T:  362880
Num of ways the letters of the word ULTRASONIC can be arranged if all vowels are together:  120960

# Python Program for Permutations and Combinations using itertools library

Python provides a library named itertools that contains in-built functions to calculate permutations and combinations.

## PERMUTATION

Q. Find the permutations of 1,2,3.

In [ ]:
# A Python program to print all permutations using library function
from itertools import permutations  #itertools - is used to iterate over data structures that can be stepped over using a for-loop.

# Get all permutations of [1, 2, 3]
perm = permutations([1, 2, 3])
# Print the obtained permutations
for i in list(perm):
    print (i)

(1, 2, 3)
(1, 3, 2)
(2, 1, 3)
(2, 3, 1)
(3, 1, 2)
(3, 2, 1)

In [ ]:
#(OR)
import itertools

values = [1, 2, 3]

per = itertools.permutations(values)

for i in per:
    print(*i)

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

Q) Find the permutations of 1,2,3 taken 2 at a time.

In [ ]:
# A Python program to print all
# permutations of given length
from itertools import permutations

# Get all permutations of length 2
# and length 2
perm = permutations([1, 2, 3], 2)

# Print the obtained permutations
for i in list(perm):
    print (i)

(1, 2)
(1, 3)
(2, 1)
(2, 3)
(3, 1)
(3, 2)

In [3]:
# (OR)
import itertools

values = [1, 2, 3, 4]

per = itertools.permutations(values, 2)

for val in per:
    print(*val)

1 2
1 3
1 4
2 1
2 3
2 4
3 1
3 2
3 4
4 1
4 2
4 3

Q) Find the Permutations for a python string - "ABC".

In [ ]:
# permutations for a python string
import itertools
st = "ABC"
per = itertools.permutations(st)
for val in per:
    print(*val)

A B C
A C B
B A C
B C A
C A B
C B A

1. Find the number of arrangements of your name.
2. WAP to evaluate the number of arrangements of n objects taking r at a time.
3. How many 3 digit nums can be formed with 4,4,4,2,2,2,2,3,3?
4. How many arrangements of the letters of the word BASEBALL begin and end with a vowel?
5. How many arrangements of the letters of the word GRACIOUS begin and end with a vowel?
6. WAP to find the permutations of the object of the set {1,2,3}.
7. WAP to find the permutations of the objects of the set {1,2,3,4} taking 2 of them at a time.
8. WAP to write the permutations of the set {a,b,c,d,e} which have 'e' in the third place.
9. WAP to write the permutations of the objects of the set {2,3,4,5,7,8} which have even number appearing in the 4th place.
10. WAP to write the arrangements of the objects of the set {1,3,4,5,6,7} in which no 2 even numbers appear consecutively.
11. WAP to write the arrangements of the objects of the set {1,3,4,5,6,7} in which no 2 even numbers appear alternatively.
12. WAP to find the 6 digit even numbers that can be formed with 2,7,6,1,9,8.
13. List out the 4 digit nums that are divisible by 10 that can be formed from the numbers of the set {3,5,7,8,9,0} such that no nums repeat.
14. List out the 4 digit nums that are divisible by 5 that can be formed from the numbers of the set {3,5,7,8,9,0} such that no nums repeat.
15. List out all the pallindromes that can be formed of the letters of the word succession.
16. Write a Python program to find all the anagrams in a given list of strings and then
group them together.

In [ ]:
#2) npr WAP to evaluate the number of arrangements of n objects taking r at a time.
v = [1,2,3]
r=2 #This defines the num of loops
p=[]
for i in range(0,len(v)):
  for j in range(0,len(v)):
    if i!=j:
      t = v[i],v[j]
      p.append(t)
print("Permutations:",p)

Permutations: [(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

In [ ]:
#3) How many 3 digit nums can be formed with 4,4,4,2,2,2,2,3,3?
import numpy as np
v = [4,4,4,2,2,2,2,3,3]
r=3 #This defines the num of loops
p=[]
for i in range(0,len(v)):
  for j in range(0,len(v)):
    for k in range(0,len(v)):
      if i!=j and i!=k and j!=k:
        t = v[i],v[j],v[k]
        p.append(t)
print("Permutations:\n",np.unique(p,axis=0))
print("Count:",len(np.unique(p,axis=0)))

Permutations:
 [[2 2 2]
 [2 2 3]
 [2 2 4]
 [2 3 2]
 [2 3 3]
 [2 3 4]
 [2 4 2]
 [2 4 3]
 [2 4 4]
 [3 2 2]
 [3 2 3]
 [3 2 4]
 [3 3 2]
 [3 3 4]
 [3 4 2]
 [3 4 3]
 [3 4 4]
 [4 2 2]
 [4 2 3]
 [4 2 4]
 [4 3 2]
 [4 3 3]
 [4 3 4]
 [4 4 2]
 [4 4 3]
 [4 4 4]]
Count: 26

In [ ]:
#4 How many arrangements of the letters of the word BASEBALL begin and end with a vowel?
import math

case1=2*(math.factorial(6))/(math.factorial(2)*math.factorial(2)) #AE or EA
case2 = (math.factorial(6))/(math.factorial(2)*math.factorial(2)) #AA
print("Total:",case1+case2)
#Can also think as 3p2/2! (Since AA is repeated). So 3 ways. Thus, 3*180

Total: 540.0

In [ ]:
#5 How many arrangements of the letters of the word GRACIOUS begin and end with a vowel?
from math import factorial as f

f(4)/(f(2))*f(6)

8640.0

In [ ]:
#6 WAP to find the permutations of the object of the set {1,2,3}.
from itertools import *

for i in permutations([1,2,3],3):
  print(i)

(1, 2, 3)
(1, 3, 2)
(2, 1, 3)
(2, 3, 1)
(3, 1, 2)
(3, 2, 1)

In [ ]:
#7 WAP to find the permutations of the objects of the set {1,2,3,4} taking 2 of them at a time.
for i in permutations([1,2,3,4],2):
  print(i)

(1, 2)
(1, 3)
(1, 4)
(2, 1)
(2, 3)
(2, 4)
(3, 1)
(3, 2)
(3, 4)
(4, 1)
(4, 2)
(4, 3)

In [ ]:
#8 WAP to write the permutations of the set {a,b,c,d,e} which have 'e' in the third place.
c=0

for i in permutations(['a','b','c','d'],4):
  print(i[0],i[1],'e',i[2],i[3])
  c=c+1
print("Total:",c)

a b e c d
a b e d c
a c e b d
a c e d b
a d e b c
a d e c b
b a e c d
b a e d c
b c e a d
b c e d a
b d e a c
b d e c a
c a e b d
c a e d b
c b e a d
c b e d a
c d e a b
c d e b a
d a e b c
d a e c b
d b e a c
d b e c a
d c e a b
d c e b a
Total: 24

In [ ]:
#9 WAP to write the permutations of the objects of the set {2,3,4,5,7,8} which have even number appearing in the 4th place.
c=0

for i in permutations([2,3,4,5,7,8],6):
  if i[3]%2==0:
    #print(i)
    c=c+1
print("Total:",c)

Total: 360

In [ ]:
#10 WAP to write the arrangements of the objects of the set {1,3,4,5,6,7} in which no 2 even numbers appear consecutively.
c=0
flag=0
for i in permutations([1,3,4,5,6,7],6):
  for k in range(0,len(i)):
    try:
      if k!=len(i)-1:
        if i[k]%2==0 and i[k+1]%2==0:
          flag=1
    except:
      pass
    if flag==0:
      #print(i)
      c=c+1
    flag=0
print("Total:",c)

Total: 4080

In [ ]:
#11 WAP to write the arrangements of the objects of the set {1,3,4,5,6,7} in which no 2 even numbers appear alternatively.
c=0
flag=0
for i in permutations([1,3,4,5,6,7],6):
  if (i[0]%2!=0 and i[2]%2!=0 and i[4]%2!=0) or (i[1]%2!=0 and i[3]%2!=0 and i[5]%2!=0):
    #print(i)
    c=c+1
print("Total:",c)

Total: 288

In [ ]:
#12 WAP to find the 6 digit even numbers that can be formed with 2,7,6,1,9,8.
c=0
flag=0
for i in permutations([2,7,6,1,9,8],6):
  # n=''
  # for k in i:
  # n = n+str(k)
  # n=int(n)
  # if n%2==0:
  if i[-1]%2==0:
    #print(i)
    c=c+1
print("Total:",c)

Total: 360

In [ ]:
#13
c=0
flag=0
for i in permutations([3,5,7,8,9,0],4):
  if i[-1]==0:
    #print(i)
    c=c+1
print("Total:",c)

Total: 60

In [ ]:
#14
c=0
flag=0
for i in permutations([3,5,7,8,9,0],4):
  if (i[-1]==5 or i[-1]==0) and i[0]!=0:
    #print(i)
    c=c+1
print("Total:",c)

Total: 108

In [ ]:
#15
import numpy as np
n = 'SUCCESSION'
l=[]
for k in range(1,len(n)):
  for i in permutations(['S','U','C','C','E','S','S','I','O','N'],k):
    if i == i[::-1]:
      l.append(i)
      #print(i)
for i in set(l):
  print(i)
print("Total:",len(set(l)))

('C', 'S', 'N', 'S', 'C')
('S', 'C', 'C', 'S')
('C', 'S', 'S', 'S', 'C')
('C', 'S', 'E', 'S', 'C')
('S', 'C', 'I', 'C', 'S')
('S', 'S', 'S')
('S', 'C', 'S')
('C', 'I', 'C')
('S', 'C', 'U', 'C', 'S')
('S', 'I', 'S')
('C', 'S', 'C')
('S', 'C', 'N', 'C', 'S')
('I',)
('C', 'O', 'C')
('S', 'O', 'S')
('C', 'U', 'C')
('C',)
('S', 'U', 'S')
('E',)
('C', 'S', 'I', 'S', 'C')
('S', 'S')
('S', 'C', 'S', 'C', 'S')
('O',)
('C', 'S', 'S', 'C')
('S',)
('C', 'S', 'U', 'S', 'C')
('S', 'E', 'S')
('S', 'C', 'E', 'C', 'S')
('N',)
('C', 'N', 'C')
('U',)
('S', 'N', 'S')
('C', 'E', 'C')
('C', 'S', 'O', 'S', 'C')
('C', 'C')
('S', 'C', 'O', 'C', 'S')
Total: 36

## COMBINATION

Define Combinations as a function:

In [ ]:
# Combination:
def Comb(n,r):
  if n>=r:
    return math.factorial(n)/(math.factorial(n-r)*math.factorial(r))
  else:
    print("Invalid Entry")

Q. Find the number of combinations of 4-team students from a choice of 15.

In [ ]:
#Total Num of students = 15
#Num of students to be selected = 4
#Num of combinations of 4-team students from a choice of 15 = 15C4
print("Num of combinations of 4-team students from a choice of 15:",Comb(15,4))

Num of combinations of 4-team students from a choice of 15: 1365.0

Q. How many selections of 3 letter words are possible from Bengaluru?

In [ ]:
# Since all of them are not distinct. Check note of maths copy.

#Formula: (n+r-1)C(r)
print("Num of selections of 3 letter words possible from Bengaluru: ",Comb(9+3-1,3))

Num of selections of 3 letter words possible from Bengaluru:  165.0

Q. I have 20 Combinations of 3 nums. How many permutations will I have?

In [ ]:
i=3
while i<20:
  if Comb(i,3)==20:
    n = i
  i=i+1
Perm(n,3)

120.0

The combinations() function takes two arguments:

a) the set of values

b) an integer denoting the number of values to be picked for a combination.

In [ ]:
# A Python program to print all
# combinations of given length
from itertools import combinations

# Get all combinations of [1, 2, 3]
# and length 2
comb = combinations([1, 2, 3], 2)

# Print the obtained combinations
for i in list(comb):
    print (i)

(1, 2)
(1, 3)
(2, 3)

Q) Find the number of combinations of "ABCDE" taken 3 at a time:

In [ ]:
import itertools

st = "ABCDE"

com = itertools.combinations(st, 2)

for val in com:
    print(*val)

A B
A C
A D
A E
B C
B D
B E
C D
C E
D E

1. Combinations are emitted in lexicographic sort order of input. So, if the input list is sorted, the combination tuples will be produced in sorted order.

In [ ]:
# A Python program to print all
# combinations of a given length
from itertools import combinations

# Get all combinations of [1, 2, 3]
# and length 2
comb = combinations([1, 2, 3], 2)

# Print the obtained combinations
for i in list(comb):
	print (i)

(1, 2)
(1, 3)
(2, 3)

2. Elements are treated as unique based on their position, not on their value. So if the input elements are unique, there will be no repeat values in each combination.

In [ ]:
# A Python program to print all combinations
# of given length with unsorted input.
from itertools import combinations

# Get all combinations of [2, 1, 3]
# and length 2
comb = combinations([2, 1, 3], 2)

# Print the obtained combinations
for i in list(comb):
	print (i)

(2, 1)
(2, 3)
(1, 3)

3. If we want to make a combination of the same element to the same element then we use combinations_with_replacement.

In [ ]:
# A Python program to print all combinations
# with an element-to-itself combination is
# also included
from itertools import combinations_with_replacement

# Get all combinations of [1, 2, 3] and length 2
comb = combinations_with_replacement([1, 2, 3], 2)

# Print the obtained combinations
for i in list(comb):
	print (i)

(1, 1)
(1, 2)
(1, 3)
(2, 2)
(2, 3)
(3, 3)

4. Combination with repeated numbers

In [ ]:
import itertools

values = [1, 1, 2, 2]

com = itertools.combinations(values, 2)

for val in com:
    print(*val)

1 1
1 2
1 2
1 2
1 2
2 2

5. Combination of numbers with itself

In [ ]:
import itertools

values = [1, 2, 3, 4]

com = itertools.combinations_with_replacement(values, 2)

for val in com:
    print(*val)

1 1
1 2
1 3
1 4
2 2
2 3
2 4
3 3
3 4
4 4

Q. Write a function to evaluate the following
1. Number of arrangements of n objects taking r at a time
2. Number of selections of n objects taking r at a time

In [ ]:
def perm(n,r):
    num = 1
    den = 1
    for i in range (1,n+1):
        num = i*num
    for j in range (1,n-r+1):
        den = j*den
    return num/den

def comb(n,r):
    num = 1
    den = 1
    den1 = 1
    for i in range (1,n+1):
        num = i*num
    for j in range (1,n-r+1):
        den = j*den
    for k in range (1,r+1):
        den1 = k*den1
    return num/(den*den1)

Q) A woman has 11 friends, she invites 5 of them for dinner. How many ways can she
invite them if 2 people will not attend seperately.

In [ ]:
f(9)/((f(3)*f(6))) + f(9)/((f(5)*f(4)))

210.0

Q. Call the functions to draw 5 cards from a deck to get
1. Two pairs
2. Three of a kind
3. Flush
4. Full House

In [ ]:
#(i) 2 pairs
print("Two Pairs: ",(comb(13,2)*comb(11,1)*comb(4,2)*comb(4,2)*comb(4,1)))
#(ii) 3 of a kind
print("Three of a kind: ", comb(4,3)*comb(13,1)*comb(12,2)*comb(4,1)*comb(4,1))
#(iii) Flush
print("Flush: ", comb(13,5)*comb(4,1))
#(iv) Full House
print("Full House: ", comb(4,3)*comb(4,2)*comb(13,1)*comb(12,1))

Two Pairs:  123552.0
Three of a kind:  54912.0
Flush:  5148.0
Full House:  3744.0

Q) WAP to find the combinations of the objects of the set {1,3,5,6,7,8} taking 4 objects at
a time whose sum of the objects is more than 15.

In [ ]:
for i in combinations([1,3,5,6,7,8],4):
  if sum(i)>15:
    print(i)

(1, 3, 5, 7)
(1, 3, 5, 8)
(1, 3, 6, 7)
(1, 3, 6, 8)
(1, 3, 7, 8)
(1, 5, 6, 7)
(1, 5, 6, 8)
(1, 5, 7, 8)
(1, 6, 7, 8)
(3, 5, 6, 7)
(3, 5, 6, 8)
(3, 5, 7, 8)
(3, 6, 7, 8)
(5, 6, 7, 8)

Q) Write a Python program to find all the unique combinations of 3 numbers from a given
list of numbers, adding up to a target number.

In [ ]:
n=[1,2,3,4,5,6,7,8,9,10,11,12]

limit=100
s=0
for i in combinations(n,3):
  print(i)
  s=s+sum(i)
  if s>=100:
    break

(1, 2, 3)
(1, 2, 4)
(1, 2, 5)
(1, 2, 6)
(1, 2, 7)
(1, 2, 8)
(1, 2, 9)
(1, 2, 10)
(1, 2, 11)
(1, 2, 12)

Q) Find the number of non-negative integer solutions of the equation
x1+x2+x3+x4=7;x>=0.

In [ ]:
#To convert a num to list with 1 elements in each pos

def ar(n):
  i=n
  a=[]
  while i!=0:
    k = i%(10)
    a.append(k)
    i=i//10
  return a[::-1]

In [ ]:
c=0
for i in range(0000,7777):
  if sum(ar(i))==7:
    #print(ar(i))
    c=c+1
print("Count:",c)

Count: 120

Q) Build 5 rows of Pascal Triangle.

In [ ]:
import numpy as np

r = int(input("Enter num of rows for the Pascal Traingle"))
n= np.zeros((r,(r-1)*2+1),int)
#Filling with ones
for i in range(0,np.shape(n)[0]):
  for k in range(0,np.shape(n)[1]):
    if k==np.shape(n)[1]//2:
      try:
        n[i,k-i]=1
        n[i,k+i]=1
      except:
        pass
#To add all remaining nums
for i in range(0,np.shape(n)[0]):
  for k in range(0,np.shape(n)[1]):
    try:
      if n[i-1,k-1]!=0 and n[i-1,k+1]:
        n[i,k]=n[i-1,k-1]+n[i-1,k+1]
    except:
      pass

print(n)
#To print with spaces
for i in range(0,np.shape(n)[0]):
  for k in range(0,np.shape(n)[1]):
    if n[i,k]==0:
      print(' ',end='')
    else:
      print(n[i,k],end='')
  print()

Enter num of rows for the Pascal Traingle8
[[ 0  0  0  0  0  0  0  1  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  1  0  1  0  0  0  0  0  0]
 [ 0  0  0  0  0  1  0  2  0  1  0  0  0  0  0]
 [ 0  0  0  0  1  0  3  0  3  0  1  0  0  0  0]
 [ 0  0  0  1  0  4  0  6  0  4  0  1  0  0  0]
 [ 0  0  1  0  5  0 10  0 10  0  5  0  1  0  0]
 [ 0  1  0  6  0 15  0 20  0 15  0  6  0  1  0]
 [ 1  0  7  0 21  0 35  0 35  0 21  0  7  0  1]]
       1
      1 1
     1 2 1
    1 3 3 1
   1 4 6 4 1
  1 5 10 10 5 1
 1 6 15 20 15 6 1
1 7 21 35 35 21 7 1