### Find the Maximum and Minimum K elements in Tuple

In [4]:
test_tup = (5, 20, 3, 7, 6, 8)
 
# printing original tuple
print("The original tuple is : ", test_tup)
 
# initializing K
K = 2
 
# Maximum and Minimum K elements in Tuple
# Using slicing + sorted()
test_tup = list(test_tup)
temp = sorted(test_tup)
res = tuple(temp[:K] + temp[-K:])
 
# printing result
print("The extracted values : ", res)

The original tuple is :  (5, 20, 3, 7, 6, 8)
The extracted values :  (3, 5, 8, 20)

### Write a python program to sort a list of tuples by the second Item

In [6]:
  
# Function to sort the list of tuples by its second item
def Sort_Tuple(tup): 
      
    # getting length of list of tuples
    lst = len(tup) 
    for i in range(0, lst): 
          
        for j in range(0, lst-i-1): 
            if (tup[j][1] > tup[j + 1][1]): 
                temp = tup[j] 
                tup[j]= tup[j + 1] 
                tup[j + 1]= temp 
    return tup 
  
# Driver Code 
tup =[('apple', 24), ('orange', 10), ('pineapple', 28), 
      ('banana', 5), ('cherry', 20), ('blueberry', 15)]

print(Sort_Tuple(tup))

[('banana', 5), ('orange', 10), ('blueberry', 15), ('cherry', 20), ('apple', 24), ('pineapple', 28)]