### An Introduction to Dictionary in Python:

#### $\bullet$ Dictionaries are used to store data values in key:value pairs. (unordered, mutable, key values should be unique)
#### $\bullet$ Dictionaries are written with curly brackets, and have keys and values:

Syntax: dictionary = {key: value, key : value , ... ,key: value}

#### Dictionary Items:

#### $\bullet$ Dictionary items are presented in key:value pairs, and can be referred to by using the key name.
#### $\bullet$ The values in dictionary items can be of any data type.

In [1]:
#Create and print a dictionary:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green']}
print("Details of that Person:\n",person)

Details of that Person:
 {'first_name': 'John', 'last_name': 'Doe', 'age': 25, 'favorite_colors': ['blue', 'green']}

In [3]:
person = {'first_name': 'John', 'last_name': 'Doe', 'age': 25, 'favorite_colors': ['blue', 'green']}
print(person2.keys())
print(person2.values()) 
print(person.items())
print(person['favorite colors'])

NameError: name 'person2' is not defined

In [3]:
person2 = {"name": "Jessa", "country": "USA", "telephone": 1178}
print(person2)

{'name': 'Jessa', 'country': 'USA', 'telephone': 1178}

In [5]:
print(type(person2))

<class 'dict'>

In [7]:
emptydict = {}
print(emptydict)

{}

In [9]:
print(type(emptydict))

<class 'dict'>

In [11]:
print(person2.keys()) ## keys()- Returns the list of all keys present in the dictionary.

dict_keys(['name', 'country', 'telephone'])

In [13]:
print(person2.values()) ### values() - Returns the list of all values present in the dictionary

dict_values(['Jessa', 'USA', 1178])

In [15]:
#items()-Returns all the items present in the dictionary.
#Each item will be inside a tuple as a key-value pair.
print(person.items())

dict_items([('first_name', 'John'), ('last_name', 'Doe'), ('age', 25), ('favorite_colors', ['blue', 'green'])])

#### Accessing values in a Dictionary:
##### To access a value by key from a dictionary, place the key inside square brackets: dict[key]

In [17]:
print(person['first_name'])

John

In [19]:
print(person['favorite_colors'])

['blue', 'green']

In [21]:
print(person.get('last_name')) #### by using get()

Doe

### get() - If the key doesn’t exist, the get() method returns None instead of giving a KeyError.

In [23]:
### for instance
print(person['middle name'])

KeyError: 'middle name'

In [25]:
print(person.get('middle name'))

None

### The get() method also returns a default value when the key doesn’t exist by passing the default value to its second argument.

In [27]:
print(person.get('middle name', 'does not exsits'))

does not exsits

In [5]:
person = {'first_name': 'John', 'last_name': 'Doe', 'age': 25, 'favorite_colors': ['blue', 'green']}
print(person.keys())
print(person.values()) 
print(person.items())
print(person['middle name'])

dict_keys(['first_name', 'last_name', 'age', 'favorite_colors'])
dict_values(['John', 'Doe', 25, ['blue', 'green']])
dict_items([('first_name', 'John'), ('last_name', 'Doe'), ('age', 25), ('favorite_colors', ['blue', 'green'])])

KeyError: 'middle name'

### Adding new key-value pairs

In [29]:
person['gender'] = 'male'
print("The updated dictionary is: \n", person)

The updated dictionary is:
 {'first_name': 'John', 'last_name': 'Doe', 'age': 25, 'favorite_colors': ['blue', 'green'], 'gender': 'male'}

In [5]:
## We can also add more than one key using the update() method.

In [31]:
person.update({'weight': 50, 'height': 6})
print("The updated dictionary is: \n", person)

The updated dictionary is:
 {'first_name': 'John', 'last_name': 'Doe', 'age': 25, 'favorite_colors': ['blue', 'green'], 'gender': 'male', 'weight': 50, 'height': 6}

### Modifying values in a key-value pair : Syntax: dict[key] = new_value

In [9]:
person['age']=26
print("The updated dictionary is: \n", person)

The updated dictionary is:
 {'first_name': 'John', 'last_name': 'Doe', 'age': 26, 'favorite_colors': ['blue', 'green'], 'active': True}

#### To remove a key-value pair by a key, you use the del statement: del dict[key]

In [10]:
del person['active']
print(person)

{'first_name': 'John', 'last_name': 'Doe', 'age': 26, 'favorite_colors': ['blue', 'green']}

# SETS IN PYTHON

In [3]:
sample_set = {'Mark', 'Jessa', 25,25, 25, 75.25, 'Jessa'}
print(sample_set)

{25, 75.25, 'Mark', 'Jessa'}

In [60]:
book_set = set(("Harry Potter", "Angels and Demons", "Atlas Shrugged"))
print(book_set)

{'Atlas Shrugged', 'Harry Potter', 'Angels and Demons'}

In [13]:
print(type(book_set))

<class 'set'>

In [14]:
example = {} ###it will create an empty dict
print(type(example))

<class 'dict'>

In [7]:
## TO create an empty set use set()
emty_set = set()
print(type(emty_set)) 
# class 'set'

<class 'set'>

### Create a set from a list

In [9]:
number_list = [20, 30, 20, 30, 50, 30,10,50]
# create a set from a list
sample_set2 = set(number_list)
print(sample_set2)

{50, 10, 20, 30}

In [13]:
## The items of the set are unordered and they don’t have any index number.
book_set = {"Harry Potter", "Angels and Demons", "Atlas Shrugged"}
for i in book_set:
    print(i)

Harry Potter
Angels and Demons
Atlas Shrugged

### The $in$ operator checks whether the item is present in the set, 
### and returns True if it present otherwise, it will return False.

In [1]:
book_set = {"Harry Potter", "Angels and Demons", "Atlas Shrugged"}
if 'Harry Potter' in book_set:
    print("Book exists in the book set")
else:
    print("Book doesn't exist in the book set")

Book exists in the book set

In [2]:
# check another item which is not present inside a set
print("A Man called Ove" in book_set)

False

In [3]:
print(len(book_set))

3

### We can add new items to the set using the following two ways.

In [11]:
book_set = {'Harry Potter', 'Angels and Demons'}
# add() method
book_set.add('The God of Small Things')
# display the updated set
print(book_set)

{'Harry Potter', 'The God of Small Things', 'Angels and Demons'}

In [13]:
# update() method to add more than one item
book_set.update(['Atlas Shrugged', 'Ulysses'])
# display the updated set
print(book_set)

{'Harry Potter', 'Ulysses', 'Atlas Shrugged', 'The God of Small Things', 'Angels and Demons'}

In [1]:
color_set = {'red', 'orange', 'yellow', 'white', 'black'}
# remove single item
color_set.remove('yellow')
print(color_set)

{'black', 'orange', 'white', 'red'}

In [3]:
# remove all items
color_set.clear()
print(color_set)

set()

### Set Operations

Union -> | or union()

Intersection -> & or intersection()

Difference -> -	or difference()

Symmetric Difference -> ^ or symmetric_difference()

In [35]:
color_set = {'violet', 'indigo', 'blue', 'green', 'yellow'}
remaining_colors = {'indigo', 'orange', 'red'}

# union of two set using OR operator
new_color_set = color_set | remaining_colors
print("The union of two sets:",new_color_set)


# union using union() method
new_colors = color_set.union(remaining_colors)
print("The union of two sets:",new_colors)

The union of two sets: {'green', 'red', 'indigo', 'yellow', 'blue', 'orange', 'violet'}
The union of two sets: {'green', 'red', 'indigo', 'yellow', 'blue', 'orange', 'violet'}

In [37]:
new_color_set = color_set & remaining_colors
print("The intersection of two sets:",new_color_set)

The intersection of two sets: {'indigo'}

In [39]:
new_color_set = color_set - remaining_colors
print("The difference:",new_color_set)

The difference: {'green', 'yellow', 'blue', 'violet'}

In [41]:
# symmetric difference
unique_items = color_set ^ remaining_colors
print("The symmetric difference:",unique_items)

The symmetric difference: {'red', 'yellow', 'blue', 'orange', 'violet', 'green'}

### Subset and Superset
Syntax: issubset()   and  issuperset()

In [1]:
Set1={1,2,3,4,5}
Set2={2,3,4}
print(Set2.issubset(Set1))

True

In [43]:
Set1={1,2,(1,3),4,5}
Set2={2,3,4}
print(Set1.issuperset(Set2))
print(Set2.issubset(Set1))

False
False

In [4]:
Set1.isdisjoint(Set2)

False

## Frozen Set
doesn’t allow adding or removing items from a set.

In [1]:
rainbow = ('violet', 'indigo', 'blue', 'green', 'yellow', 'orange', 'red')
# create a frozenset
f_set = frozenset(rainbow)

print(f_set)
print(type(f_set))

frozenset({'orange', 'indigo', 'red', 'green', 'violet', 'blue', 'yellow'})
<class 'frozenset'>

In [3]:
f_set.update('pink')

AttributeError: 'frozenset' object has no attribute 'update'

In [5]:
set1={(1,2),(2,3),(3,4)}
set2={(1,2),(2,3),(4,4)}
print(set1&set2)

{(2, 3), (1, 2)}

In [19]:
x=input()
f=x.split("J")
print(f)
print(set(f))

 my name is James Joseph

['my name is ', 'ames ', 'oseph']
{'ames ', 'oseph', 'my name is '}

In [26]:
a=eval(input('Enter the first list:'))
b=eval(input('Enter the first list:'))
c=[]

if len(a)==len(b):
    for i in range(0,min(len(a),len(b))):
        x=(a[i],b[i])
        c.append(x) 
    print(c)

elif len(a)>len(b):
    for i in range(min(len(a),len(b)),max(len(a),len(b))):
        x=(a[i],None)
        c.append(x) 
    print(c)
    
else:
    for i in range(min(len(a),len(b)),max(len(a),len(b))):
        x=(None,b[i])
        c.append(x) 
    print(c)

Enter the first list:[1,2,3]
Enter the first list:[2,3,4,5]
[(None, 5)]